/*
tacirsass v.1
partikuller skeletondan geliyor
ayrica sass'in compass ve susy gemleri yuklu olmali
*/

// yeni reset normalize
@import "partials/normalize";

// compass kutuphanesinden gelenler
@import "compass";
@import "variables";

// degiskenler
@import "partials/mixins";

// Page structure
@import "partials/scaffolding";

// Base CSS
@import "partials/code";
@import "partials/forms";
@import "partials/tables";

// Components: common
@import "partials/dropdowns";
@import "partials/wells";
@import "partials/component-animations";
@import "partials/close";
@import "partials/css-arrows";

// Components: Buttons & Alerts
@import "partials/buttons";
@import "partials/button-groups";
@import "partials/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons

// Components: Nav
@import "partials/navs";
@import "partials/navbar";
@import "partials/breadcrumbs";
@import "partials/pagination";
@import "partials/pager";

// Components: Popovers
@import "partials/modals";
@import "partials/tooltip";
@import "partials/popovers";

// Components: Misc
@import "partials/thumbnails";
@import "partials/type";
@import "partials/badges";
@import "partials/labels";
@import "partials/progress-bars";
@import "partials/accordion";
@import "partials/carousel";
@import "partials/hero-unit";

// esnek web
@media (min-width: 240px) {
	@import "partials/responsive";
}

// Utility classes
@import "susy"; // susy grid
@import "partials/utilities"; // Has to be last to override when necessary
@import "partials/ie"; // IE stylesheet
@import "partials/addons"; // Default Theme Style Fixes
$experimental-support-for-khtml:false;
$experimental-support-for-ms:false;
$legacy-support-for-ie  : false;
$legacy-support-for-ie6 : $legacy-support-for-ie;