// DEGISKENLER

// Siyah Gri Beyaz dengesi
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayccc: 							#ccc !default;
$grayLighter:           #eee !default;
$whiteDarker:						#f4f4f4 !default;
$whiteDark:							#f0f0f0 !default;
$white:                 #fff !default;

// Ara renkler
$blue:                  #7F9EC5 !default;
$blueDark:              #313f5e !default;

$orange:                #ef7f25 !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

// Scaffolding
// -------------------------
$bodyBackground:        $white !default;
$textColor:             $grayDark !default;

// sistemin bekledigi degerler
$stickyfooterheight: 		274px !default;
// tabproduct productlist icin gerekli
$tabproductimage_width_x: 216px !default;
$tabproductimage_width_y: 216px !default;
// urun detay sayfasi icin gerekli
$productimage_width_x: 470px !default;
$productimage_width_y: 470px !default;
// urun detay sayfasi thumbnailleri
$widthveradius: 45px !default;

// Linkler
$linkColor:             #08c !default;
$linkColorHover:        darken($linkColor, 15) !default;



// custom font varsa bu alani duzenleyiniz
@include font-face("PTSansRegular", inline-font-files("pts55f-webfont.woff", woff), "pts55f-webfont.eot", normal, normal);

// Tipografi
$sansFontFamily:        "PTSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Cambria, Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace !default;

$baseFontSize:          14px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        20px !default;
$textColor:             $grayDark !default;
$base-font-size:        $baseFontSize !default; // compass vertical rhtym icin gerekli fontsize
$base-line-height:      $baseLineHeight !default; // compass vertical rhtym icin gerekli lineheight

$headingsFontFamily:    $serifFontFamily !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    normal !default;    // instead of browser default, bold
$headingsColor:         $grayDarker !default; // empty to use BS default, $textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25 !default; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85 !default; // ~12px
$fontSizeMini:          $baseFontSize * 0.75 !default; // ~11px

$paddingLarge:          11px 19px !default; // 44px
$paddingSmall:          2px 10px !default;  // 26px
$paddingMini:           0 6px !default;   // 22px

$baseBorderRadius:      4px !default;
$borderRadiusLarge:     6px !default;
$borderRadiusSmall:     3px !default;


// Tables
// -------------------------
$tableBackground:                   transparent !default; // table background-color
$tableBackgroundAccent:             lighten($whiteDarker, 2%) !default; // cizgiler
$tableBackgroundHover:              $whiteDarker !default; // hover
$tableBorder:                       darken($whiteDarker, 4%) !default; // table border

// Buttons
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         $grayccc !default;

$btnPrimaryBackground:              $linkColor !default;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 15%) !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              $gray !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;

// Forms
// -------------------------
$inputBackground:               $white !default;
$inputBorder:                   lighten($grayccc, 6%) !default;
$inputBorderRadius:             3px !default;
$inputDisabledBackground:       $grayLighter !default;
$formActionsBackground:         $whiteDarker !default;
$inputHeight:                   $baseLineHeight + 10px  !default; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
$dropdownBackground:            $white !default;
$dropdownBorder:                rgba(0,0,0,.2) !default;
$dropdownDividerTop:            #e5e5e5 !default;
$dropdownDividerBottom:         $white !default;
$dropdownLinkColor:             $grayDark !default;
$dropdownLinkColorHover:        $white !default;
$dropdownLinkColorActive:       $white !default;
$dropdownLinkBackgroundActive:  $linkColor !default;
$dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive !default;


// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:        10012 !default;
$zindexPopover:         10013 !default;
$zindexTooltip:         10014 !default;
$zindexFixedNavbar:     10015 !default;
$zindexModalBackdrop:   10016 !default;
$zindexModal:           10017 !default;

// Input placeholder text color
$placeholderText:       $grayLight !default;

// Hr border color
$hrBorder:              $grayLighter !default;

// Horizontal forms & lists
// -------------------------
$horizontalComponentOffset:       180px !default;
// Wells
// -------------------------
$wellBackground:                  $whiteDarker !default;
// Navbar
// -------------------------
$navbarCollapseWidth:             979px !default;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1 !default;
$navbarHeight:                    40px !default;
$navbarBackgroundHighlight:       $white !default;
$navbarBackground:                darken($navbarBackgroundHighlight, 5%) !default;
$navbarBorder:                    darken($navbarBackground, 12%) !default;

$navbarText:                      $gray !default;
$navbarLinkColor:                 $gray !default;
$navbarLinkColorHover:            $grayDark !default;
$navbarLinkColorActive:           $gray !default;
$navbarLinkBackgroundHover:       transparent !default;
$navbarLinkBackgroundActive:      darken($navbarBackground, 5%) !default;

$navbarBrandColor:                $navbarLinkColor !default;
// Inverted navbar
$navbarInverseBackground:                darken($grayDarker, 5%) !default;
$navbarInverseBackgroundHighlight:       $grayDarker !default;
$navbarInverseBorder:                    lighten($grayDarker, 3%) !default;

$navbarInverseText:                      $grayLight !default;
$navbarInverseLinkColor:                 $grayLight !default;
$navbarInverseLinkColorHover:            $white !default;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover !default;
$navbarInverseLinkBackgroundHover:       transparent !default;
$navbarInverseLinkBackgroundActive:      $navbarInverseBackground !default;

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%) !default;
$navbarInverseSearchBackgroundFocus:     $white !default;
$navbarInverseSearchBorder:              $navbarInverseBackground !default;
$navbarInverseSearchPlaceholderColor:    $grayccc !default;

$navbarInverseBrandColor:                $navbarInverseLinkColor !default;

// Pagination
// -------------------------
$paginationBackground:            $white !default;
$paginationBorder:                darken($white, 5%) !default;
$paginationActiveBackground:      $whiteDarker !default;
// Hero unit
$heroUnitBackground:              $grayLighter !default;
$heroUnitHeadingColor:            inherit !default;
$heroUnitLeadColor:               inherit !default;

// Form states and alerts
$warningText:             #c09853 !default;
$warningBackground:       #fcf8e3 !default;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;

$errorText:               #b94a48 !default;
$errorBackground:         #f2dede !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

$successText:             #468847 !default;
$successBackground:       #dff0d8 !default;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText:                #3a87ad !default;
$infoBackground:          #d9edf7 !default;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;

// Tooltips and popovers
// -------------------------
$tooltipColor:            $white !default;
$tooltipBackground:       $black !default;
$tooltipArrowWidth:       5px !default;
$tooltipArrowColor:       $tooltipBackground !default;

$popoverBackground:       $white !default;
$popoverArrowWidth:       10px !default;
$popoverArrowColor:       $white !default;
$popoverTitleBackground:  darken($popoverBackground, 3%) !default;

// Special enhancement for popovers
$popoverArrowOuterWidth:  $popoverArrowWidth + 1 !default;
$popoverArrowOuterColor:  rgba(0,0,0,.25) !default;
// Fluid grid
$fluidGridColumnWidth:    4.3% !default;
$fluidGridGutterWidth:    4.4% !default;
