// Degiskenler baseden gelir
@import "base";

// ok lets go
.applebg {background: url(../img/bg.png);}
#header .navbar {margin-bottom: 1px;}
#home .nav-tabs > li, .twitterfollowersspan {margin-bottom: -2px;}
.nav-pills .caret, .twitterfollowers, .category_line+.category_line {margin-top: 6px;}
.alert p {margin: 0 0 4px;}
.navbar .brand {@include ir(130px, 20px, url(../img/logo.png)); margin: 0; padding: 0; background-position: center center;}
.navbar #openbrand {@extend .hidden-desktop; margin-top: 5px;}
.navbar #dropbrand {@extend .hidden-phone;@extend .hidden-tablet;}
.colM, .colMS, .flex, .tab-pane {@extend .row;}
.messagelist .alert-info, .object-tools, #changelist-search, .btn-toolbar .pagination, .btn-toolbar .pagination ul, .help-inline .errorlist, .tdnav {margin: 0;}
.tdnav .dropdown-menu {padding: 7px 5px 5px 7px;}
.tdnav .dropdown-menu li.active label, .tdnav .dropdown-menu li label:hover  {color: $white; background-color: $linkColor;}
#anasayfaistatistikgoster, #anasayfaciroistatistik, .notsoimportant  {color: $whiteDarker}
.pageblack  {color: $grayDark; cursor: default;}
.tacirtakip, #changelist .changelistgenelayar, .nav-tabs .manipulatedcform {margin:0;}
.tacirnetitakipedin {display:block; float:right;}
.desteksekmesi {background: url(../img/biglogo.png) no-repeat scroll center top;}
.desteksekmesi .well {background-color: rgba(245,245,245,0.5);}
.row .indexkucukmargin {margin-left: 1%;}
.indexkucukmargin.three {width: 23.6%;}
.indexkucukmargin.four {width: 32.4%;}
.indexkucukmargin.six {width: 49.8%;}
@media (max-width: 767px){
	.paketbilgilerimaster .paketbilgileri, #tablogerceksiparisler, .six.indexkucukmargin, #siparisozetsayfasiresponsive .table-striped.six {
		@include yay();
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#tablogerceksiparisler, .six.indexkucukmargin, #siparisozetsayfasiresponsive .table-striped.six {
		@include yay();
	}
	.three.indexkucukmargin {
		@include col(5);
	}
}
#header .navbar-inner {padding: 0;}
.marginleftsifir, .thumbnails > li.marginleftsifir {margin-left: 0;}
.row+.module, .margtop {margin: 1em 0;}
.tacirshop-siparis .add-another {@extend .hide;}
.charfield .alert-info, .charfield .alert-warning {font-size: 14px;}
.breadcrumb .manipulatedcform {margin-top: 43px;}
#changelist-form .margtop .dropdown-toggle, .margtop .open .dropdown-toggle {background-color: #eee; color: #08c}
table#online-users td{@include ellipsis();}