// Degiskenler baseden gelir
@import "base";

#navbar {
  @include center-block;  margin: 0 auto; @include clearfix; @include text-overflow;
  li {
    float:left; display: inline-block; list-style-type: none; margin-left: 24px; padding: 48px;
    &:hover {background: mix(red, yellow, 90%)}
    a {
    	display: block; @include size(120px,120px); color: #c33; background-color: #ccc; @include border-top-radius(8px); @include font-shorthand;
    	&:hover {background-color: #ffc}
     }
     
  }
}
