// Degiskenler baseden gelir
@import "base";

$font-color: adjust-lightness(blue, -24%);

body  {@include font-sans-serif}
#navbar {
  @include center-block;  margin: 0 auto; @include clearfix; @include text-overflow;
  li {
    float:left; display: inline-block; list-style-type: none; margin-left: 24px; padding: 48px;
    &:hover {background: mix(red, yellow, 90%); padding: round(48.4px);}
    a {
    	display: block; @include size(120px,120px); color: #c33; background-color: #0f0; opacity: #f00; @include border-top-radius(3px); @include font-monospace(); 
     }
  }
}
#a1, #a2, #a3, #a4, #a5, #a6 {
  @include no-bullets;
  color: $font-color;
}

@for $i from 1 through 6 {
  #a#{$i} {background: mix(yellow, green, $i*10);}
}

$ax: 6;
@while $ax > 0 {
  #a#{$ax} {border: 4px solid mix(yellow, green, $ax*16);}
  $ax: $ax - 1;
}
#bjk ul {@extend .row;}

#a1 {@include col(4); @include start(2)}
#a2 {@include col(3); @include start(1)}

.one {@include col(1);}
.two {@include col(2);}
.three {@include col(3);}
.four {@include col(4);}
.five {@include col(5);}
.six {@include col(6);}
.seven {@include col(7);}
.eight {@include col(8);}
.nine {@include col(9);}
.ten {@include col(10);}
.eleven {@include col(11);}
.twelve {@include col(12);}

.offset-by-one  {@include start(1);}
.offset-by-two  {@include start(2);}
.offset-by-three  {@include start(3);}
.offset-by-four  {@include start(4);}
.offset-by-five  {@include start(5);}
.offset-by-six  {@include start(6);}
.offset-by-seven  {@include start(7);}
.offset-by-eight  {@include start(8);}
.offset-by-nine  {@include start(9);}
.offset-by-ten  {@include start(10);}
.offset-by-eleven  {@include start(11);}
.offset-by-twelve  {@include start(12);}

.push-one {@include push(1);}
.push-two {@include push(2);}
.push-three {@include push(3);}
.push-four {@include push(4);}
.push-five {@include push(5);}
.push-six {@include push(6);}
.push-seven {@include push(7);}
.push-eight {@include push(8);}
.push-nine {@include push(9);}
.push-ten {@include push(10);}
.push-eleven {@include push(11);}
.push-twelve {@include push(12);}

.pull-one {@include pull(1);}
.pull-two {@include pull(2);}
.pull-three {@include pull(3);}
.pull-four {@include pull(4);}
.pull-five {@include pull(5);}
.pull-six {@include pull(6);}
.pull-seven {@include pull(7);}
.pull-eight {@include pull(8);}
.pull-nine {@include pull(9);}
.pull-ten {@include pull(10);}
.pull-eleven {@include pull(11);}
.pull-twelve {@include pull(12);}



.centered {@include centered;}

.display {
      background: none repeat scroll 0 0 #F4F4F4;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
    & div {
    background: none repeat scroll 0 0 #E7E7E7;
    border-radius: 3px 3px 3px 3px;
    font-size: 11px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-indent: 3px;
    }
}