// TYPOGRAPHY
// Headings, body text, lists, code, and more for a versatile and durable typography system
// ----------------------------------------------------------------------------------------

// BODY TEXT
// ---------

.lead {
  margin-bottom: $baseLineHeight;
  font-size: 20px;
  font-weight: 200;
  line-height: $baseLineHeight * 1.5;
}

// HEADINGS
// --------

h1, h2, h3, h4, h5, h6 {
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    color: $grayLight;
  }
}

// Page header
.page-header {
  padding-bottom: $baseLineHeight - 1;
  margin: $baseLineHeight 0;
  border-bottom: 1px solid $grayLighter;
}
.page-header h1 {
  line-height: 1;
}


// Description Lists
dl {
  margin-bottom: $baseLineHeight;
}
dt,
dd {
  line-height: $baseLineHeight;
}
dt {
  font-weight: bold;
  line-height: $baseLineHeight - 1; // fix jank Helvetica Neue font bug
}
dd {
  margin-left: $baseLineHeight / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
	margin-top: $baseLineHeight;
  dt {
    float: left;
    width: 120px;
    clear: left;
    text-align: right;
    margin-bottom: $baseLineHeight / 2;
    @include text-overflow();
  }
  dd {
    margin-left: 130px;
    margin-bottom: $baseLineHeight / 2;
  }
}

// MISC
// ----

// Horizontal rules
hr {
  margin: $baseLineHeight 0;
  border: 0;
  border-top: 1px solid $hrBorder;
  border-bottom: 1px solid $white;
}

// Emphasis
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.muted {
  color: $grayLight;
}